/* Этот CSS-код определяет стили для веб-страницы,
включая стили для контейнера, новостей, карточек новостей,
формы создания новости и сообщений об ошибках и успехе.*/

    /* Сброс стандартных отступов и полей для всех элементов на странице */
* {
    padding: 0;
    margin: 0;
}
/* Стили для контейнера страницы */
.container {
    max-width: 1230px; /* Установка максимальной ширины контейнера */
    width: 100%; /* Заполнение всей доступной ширины */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 0px 15px; /* Отступы по краям контейнера */
    box-sizing: border-box; /* Учет границ внутри контейнера */
}
/* Стили для заголовка страницы */
.title {
    font-size: 48px; /* Размер шрифта */
    margin-bottom: 30px; /* Отступ снизу */
}
/* Стили для раздела с новостями */
.news {
    padding: 50px 0px; /* Внутренние отступы сверху и снизу */
}
/* Стили для сетки новостей */
.news__grid {
    display: grid; /* Использование сетки для размещения новостей */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки в сетке с равными пропорциями */
    gap: 30px; /* Отступы между элементами сетки */
}
/* Стили для карточки новости */
.card {
    border-radius: 15px; /* Скругление углов карточки */
    overflow: hidden; /* Обрезание содержимого, выходящего за границы */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Тень для карточки */
}
/* Стили для изображения в карточке новости */
.card__img > img {
    width: 100%; /* Заполнение всей доступной ширины */
    object-fit: cover; /* Масштабирование изображения с сохранением пропорций */
}
/* Стили для основного содержания карточки новости */
.card__body {
    padding: 15px; /* Внутренние отступы */
    box-sizing: border-box; /* Учет границ внутри элемента */
}
/* Стили для заголовка карточки новости */
.card__title {
    font-size: 20px; /* Размер шрифта */
    font-weight: 600; /* Полужирный текст */
    margin-bottom: 15px; /* Отступ снизу */
    display: -webkit-box; /* Поддержка вебкит-браузерами */
    -webkit-line-clamp: 2; /* Ограничение количества строк текста */
    -webkit-box-orient: vertical; /* Вертикальное выравнивание текста */
    overflow: hidden; /* Обрезание текста, выходящего за границы */
}
/* Стили для описания карточки новости */
.card__description {
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 15px;  /* Отступ снизу */
    display: -webkit-box; /* Поддержка вебкит-браузерами */
    -webkit-line-clamp: 5;  /* Ограничение количества строк текста */
    -webkit-box-orient: vertical; /* Вертикальное выравнивание текста */
    overflow: hidden; /* Обрезание текста, выходящего за границы */
}
/* Стили для времени публикации карточки новости */
.card__time {
    color: gray; /* Цвет текста (серый) */
    font-style: italic; /* Курсивное начертание */
    font-size: 16px; /* Размер шрифта */
}
/* Стили для формы создания новости */
.form {
    display: flex; /* Отображение элементов в строку */
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 30px; /* Отступы между элементами */
    max-width: 600px; /* Максимальная ширина формы */
    width: 100%; /* Заполнение всей доступной ширины */
    margin: 0 auto; /* Центрирование по горизонтали */
}
/* Стили для кнопки отправки формы */
.form > button {
    height: 48px; /* Высота кнопки */
    border: none; /* Убираем границу */
    background: lightblue;  /* Фоновый цвет */
    color: #fff; /* Цвет текста */
    display: flex; /* Отображение элементов в строку */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    width: 100%; /* Заполнение всей доступной ширины */
    font-size: 20px; /* Размер шрифта */
    transition: .3s all; /* Плавное изменение стилей при наведении */
    border-radius: 8px; /* Скругление углов кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
}
/* Изменение стилей кнопки при наведении */
.form > button:hover {
    background: blue; /* Фоновый цвет при наведении */
}

/* Стили для контейнера полей формы */
.form__input {
    display: flex; /* Отображение элементов в строку */
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 3px; /* Отступы между элементами */
}
/* Стили для текстовых сообщений в форме */
.form__input > p {
    font-size: 16px; /* Размер шрифта */
    color: #fff; /* Цвет текста (белый) */
}
/* Стили для текстовых сообщений об ошибках */
.form__input .error {
    color: red !important; /* Цвет текста ошибки (красный), с использованием !important, чтобы переопределить стили */
    font-size: 16px; /* Размер шрифта */
}
/* Стили для текстовых полей ввода в форме */
.form__input > input {
    border-radius: 8px; /* Скругление углов поля ввода */
    height: 48px; /* Высота поля ввода */
    border: 1px solid; /* Граница вокруг поля ввода */
    padding: 0px 15px; /* Внутренние отступы по горизонтали */
    box-sizing: border-box; /* Учет границ внутри элемента */
    font-size: 46px;
    font-size: 26px; /* Размер шрифта */
    width: 100%; /* Заполнение всей доступной ширины */
}
/* Стили для текстовых областей ввода (textarea) в форме */
.form__input > textarea {
    border-radius: 8px; /* Скругление углов текстовой области */
    min-height: 200px; /* Минимальная высота текстовой области */
    resize: none; /* Запрет на изменение размеров текстовой области */
    border: 1px solid; /* Граница вокруг текстовой области */
    padding: 0px 15px; /* Внутренние отступы по горизонтали */
    box-sizing: border-box; /* Учет границ внутри элемента */
    font-size: 46px;
    font-size: 26px; /* Размер шрифта */
    width: 100%; /* Заполнение всей доступной ширины */
}
/* Стили для сообщения об успешном создании новости */
.success {
    text-align: center; /* Выравнивание текста по центру */
    color: green; /* Цвет текста (зеленый) */
    font-size: 26px; /* Размер шрифта */
}